<head>
  <title>Euchre</title>

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../styles/euchre.css"/>
</head>


<div id="euchreApp" v-cloak>
  <div class="playGrid withBorder">
<!--
    <div v-if="isSpectator && !spectatorName">
      What's your name?
    </div>
-->
    <div class="gridGameInfo" style="display:block;">
    <div class="title">Euchre</div>
      <small v-if="isSpectator" class="text-muted">You are spectating as "{{ spectatorName }}"</small>
    </div>

    <div class="playerName gridPlayer1">
      <div class="playingCard pile" :style="getCardStyle()">
        <div class="nameOverlay">{{ names[1] }}</div>
      </div>
      <div v-if="!names[1] && isSpectator">
        <button class="button btn-primary btn-lg join"
                @click="join(1)">Join</button></div>
    </div>

    <div class="playerName gridPlayer2">
      <div class="playingCard pile" :style="getCardStyle()">
        <div class="nameOverlay">{{ names[2] }}</div>
      </div>
      <div v-if="!names[2] && isSpectator">
        <button class="button btn-primary btn-lg join"
              @click="join(2)">Join</button></div>
    </div>

    <div class="playerName gridPlayer3">
      <div class="playingCard pile" :style="getCardStyle()">
        <div class="nameOverlay">{{ names[3] }}</div>
      </div>
      <div v-if="!names[3] && isSpectator">
        <button class="button btn-primary btn-lg join"
                @click="join(3)">Join</button></div>
    </div>

    <div id="cardTable" class="cardTable gridCardTable withBorder"
      @dragover.prevent @drop="playCard">
      <div v-for="(card, i) in playedCards" :class="'player'+i">

        <div v-if="playedCards[i]" class="card"
          :style="getCardStyle( playedCards[i].id )"></div>
        <div v-else class="playingCard"></div>
      </div>
    </div>

    <div class="gridPlayerName">
      <div class="editable" contenteditable="true" spellcheck="false"
        title="click to edit name"
        @blur="setPlayerName"
        @keypress.enter="setPlayerName"
        @keypress.enter.prevent>{{ playerName }}</div>

    <span v-if="saveInProgress" class="spinner-border spinner-border-sm"></span>


    </div>

    <div class="gridPlayer0">
      <div class="cards">
        <div v-for="(card,i) in cards">
          <div class="playingCard"
            :style="getCardStyle( card.id )"
            :data-card="card.id"
            draggable="true"
            @dragenter.prevent
            @dragover.prevent
            @dragstart="dragCardStart(card, $event)"
            @dragenter="moveCard( card, $event )">
          </div>
        </div>
      </div>
    <div>

      <!-- fixme -->
    <div class="buttons">
      <div v-if="!names[0] && isSpectator">
        <button class="button btn-primary btn-lg" @click="join(0)">Join</button></div>

      <button class="btn btn-primary btn-lg" v-if="canDeal" @click="dealCards">Deal</button>
      <button class="btn btn-primary btn-lg" v-if="canPickUp"   @click="pickUpCard">Pick Up Card</button>
      <button class="btn btn-primary btn-lg" v-if="canTurnDown" @click="turnDownCard">Turn Down Card</button>
    </div>
  </div>

 </div>

<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"
 integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68="
 crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.3/vue-router.min.js"
 integrity="sha256-r/vPIUvTobCpYZsMmvU7HM58cNd4D6/vdICqDFapV7Y="
 crossorigin="anonymous"></script>


<script src="../js/util.js"></script>
<script src="../js/card.js"></script>
<script src="../js/app.js"></script>
