<!DOCTYPE html>
<head>
  <title>Euchre</title>

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../styles/euchre.css"/>

</head>

<body>

<div id="euchreApp" v-cloak>

  <div v-if="!gameDataReady" class="loadingContainer">
    <div class="spinner-border loading"></div>
  </div>

  <div v-else-if="isSpectator && !spectatorName" style="padding: 4em;">
    What's your name?
    <input v-model="spectatorNameTmp" size="10" placeholder=""
           @blur="setSpectatorName" @keypress.enter="setSpectatorName"></input>
    <button class="button btn-primary" @click="setSpectatorName">Got it</button>
  </div>

  <!--
        <modal v-if="isSpectator && !spectatorName">
          <h3 slot="header">What's your name?</h3>
        </modal>
        -->
  <div v-else class="playGrid withBorder">

    <div class="gridGameInfo" style="display:block;">
      <div class="title">Euchre</div>
      <small v-if="isSpectator" class="text-muted">You are spectating as "{{ spectatorName }}"</small>
      <small v-if="trumpSuit"><i>
          {{ game.players[game.trumpCallerId].name }} called<b> {{trumpSuit }}</b>
      </i></small>
    </div>

    <div class="playerName gridPlayer1">
      <div class="playingCard pile" :style="getCardStyle()">
        <div class="nameOverlay">{{ names[1] }}</div>
        <div v-if="dealerIs(1)" class="dealer"></div>
      </div>
      <div>
        <div style="padding-bottom: 0.5em">tricks: {{ teamTricks(1) }}</div>
        <div class="scoreCards">
          <div class="playingCard sixOfClubs"> </div>
          <div class="playingCard fourOfClubs" :class="'score'+teamScore(1)"></div>
        </div>
      </div>
    </div>

    <div class="playerName gridPlayer2">
      <div class="playingCard pile" :style="getCardStyle()">
        <div class="nameOverlay">{{ names[2] }}</div>
        <div v-if="dealerIs(2)" class="dealer"></div>
      </div>
      <div style="padding-left: 3em;">
        <div style="padding-bottom: 0.5em;">tricks: {{ teamTricks(2) }}</div>
        <div class="scoreCards">
          <div class="playingCard sixOfHearts"> </div>
          <div class="playingCard fourOfHearts" :class="'score'+teamScore(2)"></div>
        </div>
      </div>
    </div>

    <div class="playerName gridPlayer3">
      <div class="playingCard pile" :style="getCardStyle()">
        <div class="nameOverlay">{{ names[3] }}</div>
        <div v-if="dealerIs(3)" class="dealer"></div>
      </div>
    </div>

    <div id="cardTable" class="cardTable gridCardTable withBorder"
         @dragover.prevent @drop="playCard">
      <div v-for="(card, i) in playedCards" :class="'player'+i">

        <div v-if="playedCards[i]" class="playingCard"
             :style="getCardStyle( playedCards[i].id )"></div>
        <div v-else-if="!names[i] && isSpectator">
          <button class="button btn-primary btn-lg join"
                  @click="join(i)">Join</button></div>
        <div v-else class="unplayed playingCard"></div>

      </div>
      <div class="turnIndicator">
        <transition name="fade">
          <div v-if="message" class="message">{{ message }}</div>
        </transition>
        <div v-if="game.dealerMustDiscard" class="message">
          Waiting for dealer to discard</div>
        <div v-if="trickWinnerName" class="winner message">{{ trickWinnerName }} takes the trick</div>
        <div class="arrow" :style="arrowRotation()"></div>
      </div>
    </div>

    <div class="gridPlayerName">
      <div class="editable" contenteditable="true" spellcheck="false"
           title="click to edit name"
           @blur="setPlayerName"
           @keypress.enter="setPlayerName"
           @keypress.enter.prevent>{{ playerName }}</div>

      <div v-if="weAreDealer" class="dealer"></div>
      <span v-if="saveInProgress" class="spinner-border spinner-border-sm"></span>
    </div>

    <div class="gridPlayer0">
      <div class="cards">
        <div v-for="(card,i) in cards">
          <div class="playingCard"
               :style="getCardStyle( card.id )"
               :data-card="card.id"
               draggable="true"
               @dragenter.prevent
               @dragover.prevent
               @dragstart="dragCardStart(card, $event)"
               @dragenter="moveCard( card, $event )">
          </div>
        </div>
      </div>

      <div>
        <div class="buttons">
          <button  v-if="timeToDeal && weAreDealer && !saveInProgress"
                   @click="dealCards" class="btn btn-primary btn-lg">Deal</button>

          <div v-if="timeToDeal && !weAreDealer">
            Waiting for {{ dealerName }} to deal the cards...
          </div>
          <div v-if="numPlayers < 4">
            Waiting for players to join...
          </div>
          <button v-if="ourTurn && bidding"
                  @click="pass" class="btn btn-primary btn-lg">Pass</button>
          <small v-if ="ourTurn && canPickUp && !weAreDealer">Tell dealer to</small>
          <button v-if="ourTurn && canPickUp"
                  @click="pickUpCard" class="btn btn-primary btn-lg">Pick It Up</button>
          <div v-if="ourTurn && bidding && !upCard">
            <button v-for="suit in validSuits"
                  @click="callSuit( suit )" class="btn btn-primary btn-sm">Call {{ suit }}</button>
          </div>

          <button v-if="game.trickWinner == playerId "
                  @click="takeTrick" class="btn btn-primary btn-lg">Take trick</button>

        </div>
      </div>
    </div>

    <div class="gridCheat">
      <div v-if="cheating">
        Hello cheater
        <button  @click="seeNextPlayer" class="btn btn-primary btn-lg">Next</button>
      </div>
    </div>

  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"
          integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68="
          crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.3/vue-router.min.js"
          integrity="sha256-r/vPIUvTobCpYZsMmvU7HM58cNd4D6/vdICqDFapV7Y="
          crossorigin="anonymous"></script>

  <script src="../js/util.js"></script>
  <script src="../js/card.js"></script>
  <script src="../js/app.js"></script>

</body>
</html>
