/* assume bootstrap.css included */

.page1 {
  margin: 1em;
}
.page2 {
  display: none;
}


/* fixed right element, left el fills remaining space */
.textFieldContainer {
  width: 100%;
  display: flex;
}
.textFieldContainer .left {
  width: 100%;
}
.textFieldContainer .right {
  display: inline-flex;
}

#name {
  font-weight: bold;
}

#state {
  position: fixed;
  top: 10em;
  left: 1em;
  width: 20em;
  padding: 1em;
  opacity: .80;
  background: lightBlue;
}

.lobby {
  position: fixed;
  right: 1em;
  height: 90%;
}

.upperHalf {
  top: 2em;
}

.listBlock {
  opacity: .80;
  background: lightBlue;
  border-radius: 5px;
  padding: 1em;
  width: 20em;
}

.lowerHalf {
  position: fixed;
  right: 1em;
  bottom: 2em;
}

#playerList { }

#gameList li {
  padding: .2em;
  /* text-align: right; */
  display: flex;

}

#gameList button {
  display: inline;
}

.textField {
  background: #00583C;
  padding: .2em;
  width: 50%;
}

.row input {
  margin: 0 .3em;
}

.textField input {
  border: 0;
  padding: .33em;
  margin-right: .3em;
  border-radius: .4em;
}

form[name="username"] {}

form[name="newMessage"] {
  position: fixed;
  bottom: 0;
  width: 50%;
  margin: .5em;
  border-radius: .6em;
}

.bottom {  /* bottom scroll area 5 lines of page */
  height: 30%;
  position: fixed;
  bottom: 2.5em;
  overflow: scroll;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 1em;
  width: 50%;
}
#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}
