/* assume bootstrap.css included */

body {
  height: 100%;
/*  display: flex; */
}

.page {
  margin-top: 1em;
  height: 100%;
}
.page1 {
  margin-left: 1em;
}
.page2 {
  display: none;
}
.page3 {
  display: none;
}

#gameBoard {
  margin: 1em 0;
  border: .4em solid #B8860B;
  height: 20em;
  background: #66aa66;
}
#gameBoard .gameName {
  padding-left: 10em;
  text-weight: bold;
}

.startButton {
  display: none;
}

.seat {
  width: 10em;
  height: 2.5em;
  margin: 2em;
  border: 2px solid black;
  padding: .33em;
  text-align: center;
  white-space: nowrap;
}

.seatrow {
  justify-content: center;
  align-items: center;
  display: flex;
}

.seat.unchosen {
  background-color: teal;
  color: gray;
  font-style: italic;
}

#name {
  font-weight: bold;
}

#state {
  position: fixed;
  top: 10em;
  left: 1em;
  width: 20em;
  padding: 1em;
  opacity: .80;
  background: lightBlue;
}

.lobby {
/*  position: fixed; */
  height: 90%;
}

.tallColumn {
  /*  flex: 1;  /* fill vertical space */
  height: 100%;
}

.row {
  height: 100%;
  position: relative;
}

.row input {
  margin: 0 .3em;
}

.textInputBox {
  background: #00583C;
  padding: .2em;
}
.textInputBox input {
  border: 0;
  margin-right: .3em;
  border-radius: .4em;
}

form[name="newMessage"] {
/*
  position: fixed;
  bottom: 0;
  margin-bottom: 1em;
*/
  border-radius: .6em;
}

.scrollable {
  height: 100%;
  overflow: scroll;
}

.lowerHalf {
/*  position: fixed;
  bottom: 2em;
  width: inherit;
*/
}


/* fixed right element, left el fills remaining space */
.flex-2-col {  /* parent */
  display: flex;
}
.left-flex {
  width :100%;
}
.right-fixed {
  display: inline-flex;
}

.wide {
  width: 100%;
}
/* for child in a position: relative parent */
.align-right {
  position: absolute;
  right:0;
}

.top {
  height:15em;
  overflow: auto;
  margin-bottom:1em;

}
.bottom {
  height:15em;
  overflow: auto;
}
.messageArea {
  height: 100%;
}
.messages {
  list-style-type: none;
  padding: 0;
  padding-right: 1em;
  border: 1px solid #ccc;
}
.messages li {
  padding: .3em .6em;
}
.messages li:nth-child(odd) {
  background: #eee;
}
