html,body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%
}
#euchreApp {
  width: 100%;   /* full screen */
  height: 100%;
}

[v-cloak] {  display:none; }
[v-cloak]::before { position: absolute; top: 10em; left: 10em; content: "loading..."; }


.rotateMe { display: none; }
@media screen and (max-width: 320px) { /* Portait Mode */
    .rotateMe  { display: block; }
    .cardTable { display: none; }
    .actions   { display: none; }
}

 /* double everything, is there an easier way? */
@media
only screen and (min-device-pixel-ratio : 1.5) {
    .board .piece {
    }
    .actions a.button {
    }
}

h1 {
    font-size: 1.5em;
    margin: 0;
    padding-left: 8em;
}

a.button {
    display: block;
    font: bold 10pt Arial, Helvetica, sans-serif;
    margin: 0.5em;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    background-color: #5489D0;
    color: #1E4F92;
    border: 1px solid #3E6491;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(254, 252, 252, 0.5);
}

a.button:active {
    background-color: #4E74A1;
    text-shadow: none;
}

a.button.disabled {
    color: #666;
    background-color: #999;
    border: 1px solid #999;
    text-shadow: none;
}

/* I hate !important, but this class needs to make things invisible and
   preserve previous display style of element */
.hidden {
  display: none !important;
}

.fadeOut {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.unselectable {
  -moz-user-select:    none;
  -webkit-user-select: none;
  -ms-user-select:     none;
}


.playingCard {
  background: url("../images/cards.png") 240px 120px no-repeat;
  height: 95px;
  width: 70px;
  /* display: inline-block; */
  background-color: #d12d36;
  border: 1px solid white;
  border-radius: .25rem;
  text-align: center;
}

.unplayed {
  opacity: .50;
  border: black 1px dashed;
}

.cards {
  display: inline-flex;
}

.cards:hover {
  cursor: grab;
}

.dealer {
  background: url("../images/dealer.gif");
  height: 44px;
  width: 54px;
  position: relative;
  left: 2em;
  bottom: -1em;
}

.playerName {
  padding: 1em;
}
.nameOverlay {
  color: #55d15d;  /* words */
  font-weight: bold;
  padding: .3em;
  text-shadow: 1px 1px 2px black, 0 0 2px gray, 0 0 5px gray;
}

.cardTable {
  padding: 1em;
  border-radius: 4em;
  border: solid darkGreen .6em;
}

/* Layouts, each grid section is name and placed */

#cardTable > .player0 {  grid-area: card0; }
#cardTable > .player1 {  grid-area: card1; }
#cardTable > .player2 {  grid-area: card2; }
#cardTable > .player3 {  grid-area: card3; }
#cardTable > .turnIndicator {  grid-area: turn; }

#cardTable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ".     card2 ."
    "card1 turn  card3"
    ".     card0 .";
}

.playGrid > .gridGameInfo { grid-area: info; }
.playGrid > .gridPlayer0  { grid-area: player0;
  border-top: 3px solid;
  padding-top: 1em;
}
.playGrid > .gridPlayer1  { grid-area: player1; display: grid;}
.playGrid > .gridPlayer2  { grid-area: player2; }
.playGrid > .gridPlayer3  { grid-area: player3; }
.playGrid > .gridPlayerName { grid-area: playerName; }
.playGrid > .gridCardTable { grid-area: table; }
.playGrid > .gridCheat { grid-area: cheat; }


.playGrid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
  /* grid-template-rows: 1fr 3fr 1fr; */
  grid-template-areas:
    "info       player2   ."
    "player1    table     player3"
    "playerName  player0 cheat";

  padding: 1em;
  grid-gap: 1em;
  background-color: lightBlue;
}

.buttons {
  padding-left: 2em;
  display: grid;
}
.buttons button {
  margin-bottom: .25em;
}

.withBorder {
  border: solid darkGreen .5em;
}

.title {
  font-weight: bold;
  font-size: x-large;
}

.withBorder > div {
/*  border: solid darkGreen 1px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* fake a few cards underneath */
.pile {
  box-shadow:
    0 0.1em 0.2em 0 rgba(0, 0, 0, 0.5),
    0 0.5em 0 -0.25em #d12d36,
    0 0.5em 0.2em -0.25em rgba(0, 0, 0, 0.5),
    0 1em 0 -0.5em #d12d36,
    0 1em 0.2em -0.5em rgba(0, 0, 0, 0.5);
}

.editable {
  padding: 0 .2em;
  max-width: 8em;
  border: 1px solid gray;
  display: inline;
  overflow-wrap: break-word;
  hyphen: auto;
}


.lobby {
  margin: 4em;
}

.loadingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 5em;
  height: 5em;
  border-width: 10;
  color: lightblue;
}

.lobby button,
.lobby h3 {
  margin-top: 2em;
}
.lobby button.badge
{
  margin-top: 0;
  padding: .25em;
  vertical-align: text-bottom;
}

button.join {
  position: relative;
  left: -3.5em;
}

.winner.message {
  background: none;
}

.message {
  position: absolute;
  z-index: 10;
  font-weight: bold;
  text-shadow: 1px 2px lightgrey;
  background: lightgrey;
  border-radius: .25em;
  padding: 0 .5em;
  opacity: 75%;
}

/* text fade in/out effects */
.fade-enter-active,.fade-leave-active {  transition: opacity 1s; }
.fade-enter,.fade-leave-to  {  opacity: 0  }


.arrow {
  width: 3em;
  height: 3em;
  border: .75em solid #33a532;
  border-radius: 0 50% 50% 50%;
}
